
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Poppins:ital,wght@1,300&family=Roboto:ital@1&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


nav{
    position: relative;
    z-index: 1;
}

.nav-menu{

    background-color: rgb(177, 180, 182,0.7);
    width: 100%;
    height: 80px;
    position: fixed;
    box-shadow: 1px 1px 5px rgb(192, 209, 97);
}

.nav-menu ul{

    float:right;
    margin-right: 25px;
    list-style: none;
}

.logo{

    border-radius: 10px;
    margin-top: 7px;
    position: absolute;
    margin-left: 1%;
    box-shadow: 1px 1px 1px rgb(192, 209, 97);
    animation: rotate 5s linear infinite;
}


@keyframes rotate{

    from{
        
       transform: rotateY(360deg);
    }

    to{

        transform: rotateY(0deg);
    }
}

.menu li{

    display: inline-block;
    line-height: 75px;
    margin: 0 10px;
}

.menu li a{

    text-decoration: none;
    text-transform: uppercase;
    color: rgb(242, 252, 99);
    transition: 0.5s;
    font-size: 20px;
}

.enlace-menu:hover{

    border-bottom: solid 2px azure;
}

.btn{

    float: right;
    line-height: 70px;
    color: rgb(235, 247, 68);
    font-size: 25px;
    cursor: pointer;
}

.btn{

    display: none;
}

.dark{
    display: block;
    margin-right: 10px;
    margin-top: 20px;
    border:none;
    background: transparent;
    cursor: pointer;
    font-size: 25px;
}

i#open-dark{

    color: azure;
}

i#close-dark{

    display: none;
}


.dark{

    float: right;
  
  }

section{

    width: 100%;
}

#inicio{

    height: 64vh;
    position: relative;
}


.banner-text{

    position: absolute;
    color:rgb(235, 247, 68);
    top:30%;
    right: 62%;
    margin-left: 14%;
    font-size: 20px;
    line-height: 1.5;

    
}

.banner-text a{

    color: azure;
    text-decoration: none;
}

.Mas-info:hover{

    background-color: azure;
    color:rgb(87, 95, 95);
    border-radius: 10px;
}

.banner-content img{

    width: 100%;
}

.titulo{

    margin-bottom: 10px;
    color: azure;
    font-size: 40px;
}

.icono{
    position: absolute;
    color:rgb(196, 230, 117);
    font-size: 40px;
    top: 83%;
    left: 30%;
   
}

.icono i#icon{

    padding: 0px 20px;

}

#SobreMi{
   position: relative;
   height: 62vh;
   background-color: #191919;
 }


 .Sobremi-text{
     position: absolute;
     top:60%;
     text-align: center;
     color:rgb(235, 247, 68);
     padding: 0 20px;
     font-size: 20px;
     line-height: 1.5;
    
 }

 .Sobremi-text h2{

    font-size: 31px;
    color: azure;
    position: absolute;
    top: -324%;
    left: 70%;
    background-color: rgb(87, 95, 95);
    padding: 4px 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(235, 247, 68);

    
 }

 .Sobremi-content img{
    width: 17%;
    position: absolute;
    top: 10%;
    left: 41%;
    border-radius: 15%;

 }

 .img-personal{

    border-radius: 50%;
 }

 #Servicio{

   display: flex;
   flex-flow: column;
   align-items: center;
   height: 55vh;
   background-color: #726b6b;
 }

.titulo-servicio{

    text-align: center;
     font-size: 40px;
    color:azure;

}
 .Servicio-content{
    width: 85%;
    height: 45vh;
    background-color: #191919;
    top: 15%;
    left: 15%;
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(192, 209, 97);
    background-image:url(../img/programacion.jpg);
    background-position: center;
 }


 .Servicio-job{

    margin-top: 2rem;
    margin-left: 3rem;
    height: 88%;
    padding: 0 15px;
    background-color: rgb(34, 32, 32,0.6);
    border-radius: 10px;

 }

 .Servicio-job ul{

    margin-left: 1.5rem;
    color: rgb(235, 247, 68);
    list-style-type:circle;
    line-height: 33px;
 }

 .Servicio-job h3{

    text-align: center;
    margin-top: 1rem;
    color:azure;
    font-size: 22px;
 }

 .Servicio-img-slider{

    width: 200PX;
    height: 200PX;
    overflow: hidden;
    margin-left: 12rem;
    margin-top: 5rem;
    border-style:inset;
 }

 .carousel{

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 1rem;
  }

  .carousel-item{

    flex:1;
    min-width: 100%;
  }

  .carousel-item img{

    width: 80%;
    height: auto;
    border-radius: 10px;
  }

  @keyframes slider{
    0% {
        transform: translateX(0);
      }
      33.33% {
        transform: translateX(-200%);
      }
      66.66% {
        transform: translateX(-580%);
      }
      100% {
        transform: translateX(0);
      }
}
  .carousel{

    animation: slider 40s infinite linear;
  }

 .img-github{

    background-color: azure;
 }

 #contacto{
     height: 97vh;
     position: relative;
 }

 .contacto-content{

    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: antiquewhite;

 }

 .contacto-content h4{

    font-size: 40px;
    color:#191919;
 }

 .contacto-content p, .contacto-content h4{

    padding: 10px 40px;
 }

 .contacto-group{

    width: 100%;
    margin-top: 20px;
    padding: 0 20%;
 }

 .formulario{
   width: 50%;
   float: left;
 }

 .form-contacto{
     width: 80%;
     padding: 0.5rem;
     margin: 0.6rem 0.5rem;
     display: block;
     outline: 0;
     font-size: 16px;

     border-radius: 5px;
     border:1.5px solid #c7c7c7;
 }

 .btn-enviar{

    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: #1ccf0c;
    color: #ffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease;
 }

 .btn-enviar:hover{

    background-color: #13a805;
 }

 #Repositorios{

    height: 53vh;
 }

 .titulo-repositorio{

    color: azure;
    font-size: 31px;
    position: absolute;
    top: 5%;
    left: 42%;
    background-color: rgb(87, 95, 95);
    padding: 4px 6px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(235, 247, 68) ;

 }

 .repositorio-content{

    position: relative;
    background-image: url(../img/php.jpg);
    background-size: cover;
    background-position: center;
    height: 53vh;
 }

 .repositorios{

    height: 67%;
    width: 50%;
    position: absolute;
    left: 24%;
    top: 26%; 
    box-shadow: -4px -1px 11px rgb(235, 247, 68);
    background-color: rgb(87, 95, 95, 0.5);
 }

 .repositorios img{

    width: 24%;
    background-color: azure;
    border-radius: 18px;
    margin-top: 2%;
    margin-left: 17%;
    margin-bottom: 10px;
  
 }

 .repositorios a{

    margin-left: 23%;
    background-color:rgb(207, 218, 218);
    padding: 2px 4px;
    border-radius: 5px;
    text-decoration: none;
 }

 .repositorios a:hover{

    background-color: rgb(52, 54, 54); 
    color: azure;
 }


 .repo-text{

    position: absolute;
    top: 50%;
    left: 49%;
    width: 22%;
    color:rgb(235, 247, 68);
    line-height: 1.5;
 }

 .contacto-img{
     width: 50%;
     float: left;
     display: block;
 }

 .contacto-img img{

    width: 50%
 }

 .sociales{

    position: absolute;
    top:88%;
    left: 60%;

 }

 .redes-sociales{

    font-size: 40px;
    margin: 0 2rem;
    color:#13a805;
    transition: 0.5s;
 }

 .redes-sociales:hover{

    color:rgb(71, 71, 231);
 }



 footer{

    position: relative;
    background-color: #0a0a0a;
    width: 100%;
    height: 100px;
    border-top:#726b6b;
 }


 i#volver-inicio{

    color: rgb(235, 247, 68);
 }

 .pie-de-pagina{

    position: absolute;
    color: azure;
    top:30%;
    left: 35%;
 }

 .btn-inicio{

    display: none;
 }


body.dark-mode {
    background-color: black;
    color: white;
    transition: all 0.3s ease;
}

body.dark-mode i#open-dark{

    display: none;
}

body.dark-mode i#close-dark{

    display: block;
}

body.dark-mode .banner-content img{

    display: none;
}

body.dark-mode .banner-text{

color: azure;
}

body.dark-mode #SobreMi,.contacto-content{

    background-color: transparent;
}

body.dark-mode #Servicio{

    background-color: transparent;
}

body.dark-mode .Sobremi-text{

    color: azure;
}


body.dark-mode h4{

    color: azure;
}



 @media(max-width:768px){

    body.menu-active .nav-menu{

      height: 26.5vh;
      background-color: #807a7a;
    }

    body.menu-active .menu {

        display: flex;
        margin-top: 5%;
        margin-right: 15%;
        flex-direction: column;
        align-items: center;
    }

    body.menu-active .menu li{

        margin: 0 5px;
        padding: 8% 0;
        line-height: 1;
       
    }

    body.menu-active .enlace-menu{

        font-size: 15px;
        text-transform: uppercase;
        color: rgb(198, 243, 243);
    }

    body.menu-active i#close-btn{

        display:block;
    }

    body.menu-active i#open-btn{

        display: none;
    }

    .banner-text{

        font-size: 15px;
        right: 33%;
        top: 34%;
    }

    .titulo{

        font-size: 25px;
    }

    .Sobremi-content img{

        left: 40%;
        top: 8%;
    }
   

    .Sobremi-text h2{
        position: absolute;
        left: 69%;
        top: -65%;
        color: azure;
        font-size: 22px;
        background-color: rgb(87, 95, 95);
        padding: 4px 4px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px rgb(235, 247, 68)
    }

    #Servicio{

        display: flex;
        background-color:#726b6b;
        height: 73vh;
    }

    .Servicio-content{

        display: flex;
        flex-flow: column;
        align-items: center;
        height: 67vh;
    }

    .Servicio-job{

        margin-left: 0;
        width: 80%;
        height: 67%;
        border: none;
    }

    .titulo-servicio{

        font-size: 25px;
    }

    .Servicio-img-slider{

        margin-top: 20px;
        width: 120px;
        height: 120px;
    }

    .titulo-repositorio{

        font-size: 20px;
    }

    .repositorios{

        width: 60%;
        height: 76%;
        left: 20%;
        top: 21%;
    }

    .repositorios img{

        width: 40%;
        margin-left: 29%;
        margin-top: 7%;
    }

    .repositorios a{

        margin-left: 31%;
    }

    .repo-text{

        width: 50%;
       top: 64%;
       left: 28%;
    }

    #contacto{

        height: 115vh;
    }

    .contacto-content h4{

        font-size: 25px;
    }

    .contacto-content{

        padding: 0;
        background-color: antiquewhite;
    }

    .form-contacto, .contacto-img{

        width: 100%;
    }


    .contacto-img img{

        margin-top: 2rem;
        width: 70%;
    }

    .formulario{

        width: 100%;
        float: none;
    }

    .form-contacto{

        padding: 0;
    }

    .btn-enviar{

        width: 100%;
    }

    .sociales{

        left: 11%;
        top: 93.5%;
    }

    .btn{
        display: block;
        padding-right: 10px;
        margin-top: 6px;
    }


    .menu{

        display: none;
    }

    .pie-de-pagina{

        left: 7%;
    }

    .btn-inicio{

        display: block;
    }

    .btn-inicio{
        position: absolute;
        color: azure;
        left: 60%;
        top:75%;
        font-size: 20px;
     }

     footer{

        height: 150px;
     }
    


 }


@media(max-width: 1024px){

    .logo{

        margin-top: 10px;
    }


    i#close-btn{

        display: none;
    }

    .dark{

        display: block;
        margin-top: 28px;
        line-height: 28px;
        margin-right: 10px;
        border-radius: 100%;
        cursor: pointer;
        font-size: 25px;
        background: transparent;
        border: none;
      }


      i#open-dark{
          color: azure;
      }

  i#close-dark{

    display: none;
  }

    .banner-text{

        right: 47%;
        transform: translateX(0%) translateY(-16%);
        
    }

    .banner-text a{

        width: 100px;
        background-color: azure;
        color: rgb(87, 95, 95);
        border-radius: 10px;
        padding: 2px;
    }

   .Mas-info:hover{
        background-color: rgb(235, 247, 68);
        transition: 0.5s;
    }

    .banner-text p{

        margin-bottom: 5px;
    } 

    .banner-content img{

        height: 53vh;
    }

#inicio{

    height: 53vh;
}

.icono{

    top: 91%;
    left: 25%;
    font-size: 25px;
}

#SobreMi{

    height: 47vh;
}

.Sobremi-text{

    top: 40%;
}

.Sobremi-text h2{

    position: absolute;
    left: 67%;
    color: azure;
    margin-top: 5%;
}

.Sobremi-text p{

    font-size: 15px;
    padding: 0 15px;
}

.Sobremi-content img{

    width: 22%;
    margin-top: 34px;
    border-radius: 22%;
    box-shadow: 1px 1px 5px rgb(192, 209, 97);
  
}


.Servicio-job h3{

    font-size: 20px;
}

.Servicio-job ul{

    font-size: 15px;
}


.Servicio-img-slider{

    margin-left: 9%;
    margin-top: 4%;
}

.titulo-repositorio{

    left: 29%;
}

.contacto-img img{

    width: 60%;
}

.pie-de-pagina{

   text-align: center;
}


}


